---
apiVersion: v1
kind: ConfigMap
metadata:
  name: internal-app-html
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <head>
        <title>Welcome</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
                background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
                color: white;
            }
            h1 {
                font-size: 3em;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Welcome Joao Internal app</h1>
    </body>
    </html>